html, body {
	height: 100%;
	margin: 0;
	}
body {
	padding:0;
	background-color: #aaa;
	font-family:'work sans', sans-serif;
	font-weight:200;
	color:#555;
	font-size:.625em;
	}
/**/	
/*====Fixed Responsive Navigation Bar====*/
	
header {
	box-sizing:border-box;
	height:70px;
	width:100%;
	padding:10px 2em;
	font-size:2em;
	display:flex;
	flex-flow: row wrap;
	align-items: flex-start;
	position:fixed;
	top:0;
	z-index:999;
	}
#logo {
	display:flex;
	}
#logo h1 {
	color:#fff;
	font-size:1.75em;
	font-weight:400;
	margin:auto;
	padding:5px 10px 5px 40px;
	background: url('../assets/potatocon.png') center left no-repeat;
	}
header nav {
	display:flex;
	flex-grow:1;
	justify-content:flex-end;
	}
nav ul {
	display:flex;
	padding:0;
	margin:5px 0;
	}
nav ul li {
	display:flex;
	flex-direction:row;
	flex-flow: nowrap;
	padding:0;
	list-style:none;
	}
nav ul li a {
	box-sizing:border-box;
	padding:10px;
	margin:0 10px;
	font-size:.75em;
	text-transform:uppercase;
	border:1px solid rgba(0,0,0,0);
	border-radius:40px;
	}
nav ul li a:hover {
	border:1px solid rgba(255,255,255,1);
	}

/**/
/*====Scrolling Content Sections====*/

section {
	height:100vh;
	min-height:60em;
	position:relative;
	overflow: hidden;
	}
#splash {
	color:#fff;
	background:linear-gradient(#9A7952 100px, #BA9972 30%, #DAB982 80%, #BA9972);}
#about {
	background:#ddd url('../assets/blur.png') top left no-repeat;
	background-size:cover;
	}
#nutrition {
	color:#fff;
	background:#7DA862 url('../assets/blur2.png') bottom left no-repeat;
	background-size:contain;
	}
#features {
	color: saddlebrown;
	background: url('../assets/mashed.png') bottom left no-repeat, url('../assets/fried.png') bottom right no-repeat, #E3D9A0;
	background-size:30%;
	}
#testimonials {
	background:#fff url('../assets/potatoconbg.png') bottom center no-repeat;
	background-size:cover;
	overflow:hidden;
	}
#buy-now {
	background:#ddd;
	}
footer {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background:#fff;
	font-weight:400;
	font-size:1.25em;
	}

/**/
/*====Universal Content Styles====*/

hgroup{
	width:70%;
	max-width:25em;
	margin:5em auto 3em;
	font-size:3.5em;
	text-align:center;
	}
h1 {
	font-weight:400;
	letter-spacing: -.06em;
	margin:.5em;
	padding:0;
	}
h1 span {
	font-weight:700;
	letter-spacing:0em;
	}
h2 {
	font-size:.75em;
	font-weight:300;
	margin:0;
	padding:0;
	}	
h2 span {
	font-weight:500;
	}
sup {
	font-size:.35em;
	}
a { 
	color: #FFF;
	text-decoration:none;
	}
.centerpiece {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:75%;
	height:50%;
	margin:auto;
	}
img {
	height:90%;
	width:90%;
	margin:0 5%;
	object-fit: contain;
	image-rendering:crisp-edges;
	}
/**/
/*====Special Content Styles====*/

.potatoline {
	width:100%;
	height:105px;
	position:absolute;
	top:35em;
	background: url('../assets/potatoline.png') center center no-repeat;
	background-size: auto 105px;
	}
#nutrients {
	display:flex;
	justify-content:space-between;
	position: absolute;
	bottom: 5%;
	width:80%;
	left:10%;
	right:10%;
	text-align:center;
	font-size:1.5em;
	}
#nutrients div {
	flex-basis:1;
	width:25%;
	}
#testwrap {
	display:flex;
	width:100%;
	}
.testimony {
	box-sizing:border-box;
	padding:1em;
	width:80em;
	position:relative;
	margin:auto;
	}
blockquote {
	width:80%;
	margin:auto;
	font-size:2em;
	line-height:2.5em;
	font-weight:300;
	opacity:1;
	transition-property: opacity;
	transition-duration: .25s;
	}
blockquote span {
	font-weight:500;
	}
cite {
	display:block;
	box-sizing:border-box;
	width:100%;
	border-top:20px solid transparent;
	border-image: url('../assets/border.png') 400 25 stretch;
	font-size:.75em;
	font-weight:700;
	text-align:center;
	}
#focus {}
#offleft {
	opacity:0.5;
	margin-left:-40em;
}
#offright {
	opacity:0.5;
	margin-right:-40em;
}
#testleft, #testright {
	width:4em;
	height:4em;
	position:absolute;
	top:12em;
	background-size:contain;
	cursor: pointer;
	}
#testleft {
	left:0;
	background: url('../assets/focusleft.png') center center no-repeat;
	}
#testright {
	right:0;
	background: url('../assets/focusright.png') center center no-repeat;
	}
.vanish {
	opacity:0;
	}
.column-holder {
	width:80%;
	margin:auto;
	display:flex;
	flex-direction:row;
	}
.column {
	box-sizing:border-box;
	position:relative;
	padding: 0 2em;
	width:33%;
	height:50em;
	}
.column h2 {
	font-size:3em;
	text-align:center;
}
.column p {
	text-align:center;
	font-size:1.2em;
	position:absolute;
	bottom:20em;
	left:0;
	right:0;
	}
.column li {
	font-size:1.8em;
	list-style: circle;
	}
button {
	display:block;
	position: absolute;
	bottom:10em;
	left:50%;
	width:8em;
	margin-left:-4em;
	padding:10px;
	background: rgba(255,255,255,0.25);
	border:1px solid #9A7952;
	color:#9A7952;
	font-family:'work sans', sans-serif;
	font-size:2em;
	font-weight:700;
	border-radius:35px;
	cursor: pointer;
	}	
button:hover {
	background: rgba(255,255,255,0.75);
	}
#potato-lite {
	background: url('../assets/potatosmall.png') bottom center no-repeat;
	background-size: 70% auto;
	image-rendering: crisp-edges;
	}
#potato-pro {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background: url('../assets/potato3.png') bottom center no-repeat;
	background-size: 70% auto;
	image-rendering: crisp-edges;
	}
#potato-team {
	background: url('../assets/potato1.png') bottom center no-repeat;
	background-size: 100% auto;
	image-rendering: crisp-edges;
	}
#copyright {
	margin:1em;
	}
footer nav ul {
	padding: 1em 1em 1em 0;
	font-size:1.5em;
	}
footer nav li a {
	color:#777;
	}
footer nav li a:hover {
	border:1px solid #777;
	}

@media (min-width:1260px) {
	.column p {
		bottom: 24em;
		}
	button {
		bottom: 12em;
		}
}

@media (min-width:1570px) {
	.column p {
		bottom: 27em;
		}
	button {
		bottom: 14em;
		}
}

@media (min-width:1900px) {
	.column p {
		bottom: 30em;
		}
	button {
		bottom: 16em;
		}
}