@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');


html, body {
	height: 100%;
	margin: 0;
	}
body {
	padding:0;
	background-color: #aaa;
	font-family:'work sans', sans-serif;
	font-weight:300;
	color:#777;
	font-size:.625em;
	}
/**/	
/*====Fixed Responsive Navigation Bar====*/
	
#logo {
	height:70px;
	padding:10px 2em;
	position:fixed;
	top:0;
	z-index:999;
	float:left;
	}
#logo h1 {
	color:#fff;
	font-size:3.5em;
	font-weight:400;
	margin:auto;
	padding:5px 10px 5px 40px;
	background: url('../assets/potatocon.png') center left no-repeat;
	}
nav.top {
	position:fixed;
	font-size:2em;
	top:0;
	right:0;
	z-index:999;
	}
nav ul {
	display:flex;
	padding:15px;
	margin:5px 0;
	}
nav ul li {
	display:flex;
	flex-direction:row;
	flex-flow: nowrap;
	padding:0;
	list-style:none;
	}
nav ul li a {
	box-sizing:border-box;
	padding:10px;
	margin:0 10px;
	font-size:.75em;
	text-transform:uppercase;
	border:1px solid rgba(0,0,0,0);
	border-radius:40px;
	}
nav ul li a:hover {
	border:1px solid rgba(255,255,255,1);
	}
.hambaga {
	display:none;
	z-index:999;
 	cursor: pointer;
 	position:fixed;
 	top:5px;
 	right:7px;
	}
.hambaga:before {
	content: '\f0c9';
	color:#fff;
	font: 42px fontawesome;
	text-shadow:1px 1px 1px #541;
	}

/**/
/*====Scrolling Content Sections====*/

section {
	height:100vh;
	min-height:80em;
	position:relative;
	overflow: hidden;
	clear:both;
	}
#splash {
	color:#fff;
	background:linear-gradient(#9A7952 100px, #BA9972 30%, #DAB982 80%, #BA9972);}
#about {
	background:#ddd url('../assets/blur.png') top left no-repeat;
	background-size:cover;
	}
#nutrition {
	color:#fff;
	background:#7DA862 url('../assets/blur2.png') bottom left no-repeat;
	background-size:contain;
	}
#features {
	color: saddlebrown;
	background: url('../assets/mashed.png') bottom left no-repeat, url('../assets/fried.png') bottom right no-repeat, #E3D9A0;
	background-size:30%;
	}
#testimonials {
	background:#fff url('../assets/potatoconbg.png') bottom center no-repeat;
	background-size:cover;
	overflow:hidden;
	}
#buy-now {
	background:#ddd;
	}
footer {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background:#fff;
	font-weight:400;
	font-size:1.25em;
	}

/**/
/*====Universal Content Styles====*/

hgroup{
	width:70%;
	max-width:25em;
	margin:3em auto 3em;
	font-size:3.5em;
	text-align:center;
	}
#splash hgroup {
	margin:5em auto 3em;
	}
h1 {
	font-weight:400;
	letter-spacing: -.06em;
	margin:.5em;
	padding:0;
	}
h1 span {
	font-weight:700;
	letter-spacing:0em;
	}
h2 {
	font-size:.75em;
	font-weight:300;
	margin:0;
	padding:0;
	}	
h2 span {
	font-weight:500;
	}
sup {
	font-size:.35em;
	}
a { 
	color: #FFF;
	text-decoration:none;
	}
.centerpiece {
	font-size:3.5em;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:70%;
	max-width:25em;
	height:50%;
	margin:auto;
	}
.centerpiece img {
	max-width:100%;
	max-height:100%;
	}
/**/
/*====Special Content Styles====*/

.potatoline {
	width:100%;
	height:120px;
	margin-top:-5em;
	background: url('../assets/potatoline.png') center center no-repeat;
	background-size: auto 100%;
	}
#about .centerpiece img {
	position:absolute;
	margin:auto auto;
	top:0;
	bottom:0;
	}
	
#potatoform img:nth-child(2n) {
	height:90%;
	width:90%;
	margin:5%;
}
#nutrition .centerpiece {
	max-width:600px;
	max-height:475px;
	bottom:25px;
	}	
#nutrition .centerpiece>img {
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:70%;
	margin:auto auto;
	}
#lines {
	position:absolute;
	width:100%;
	height:75%;
	bottom:100px;
	}	
#lines img {
	width:90%;
	left:5%;
	position:absolute;
	bottom:0;
	}

#nutrients {
	display:flex;
	justify-content:space-between;
	position: absolute;
	bottom: 10px;
	width:90%;
	left:5%;
	height:90px;
	text-align:center;
	font-size:.5em;
	}
#nutrients div {
	flex-basis:1;
	width:15%;
	}
	
#testwrap {
	display:flex;
	width:100%;
	align-items: flex-start;
	align-content: flex-start;
	vertical-align: top;
	}
.testimony {
	align-self:flex-start;
	vertical-align:top;
	box-sizing:border-box;
	padding:1em;
	width:80em;
	position:relative;
	}
blockquote {
	width:80%;
	margin:auto;
	font-size:2em;
	line-height:2.5em;
	font-weight:300;
	opacity:1;
	transition-property: opacity;
	transition-duration: .25s;
	}
blockquote span {
	color:#555;
	font-weight:500;
	}
cite {
	display:block;
	box-sizing:border-box;
	width:100%;
	border-top:20px solid transparent;
	border-image: url('../assets/border.png') 400 25 stretch;
	font-size:.75em;
	font-weight:700;
	text-align:center;
	}
#focus {}
#offleft {
	opacity:0.5;
	margin-left:-40em;
}
#offright {
	opacity:0.5;
	margin-right:-40em;
}
#testleft, #testright {
	width:4em;
	height:4em;
	position:absolute;
	top:12em;
	background-size:contain;
	cursor: pointer;
	}
#testleft {
	left:0;
	background: url('../assets/focusleft.png') center center no-repeat;
	}
#testright {
	right:0;
	background: url('../assets/focusright.png') center center no-repeat;
	}
.vanish {
	opacity:0;
	}
.column-holder {
	width:80%;
	margin:auto;
	display:flex;
	flex-direction:row;
	}
.column {
	box-sizing:border-box;
	position:relative;
	padding: 0 2em;
	width:33%;
	height:50em;
	}
.column h2 {
	font-size:3em;
	text-align:center;
}
.column p {
	text-align:center;
	font-size:1.2em;
	position:absolute;
	left:0;
	right:0;
	}
.column li {
	font-size:1.8em;
	list-style:none;
	}
.column li::before {
	content: '\2022';
	padding:5px;
	margin-left:-18px;
	}
button {
	display:block;
	position: absolute;
	bottom:10em;
	left:50%;
	width:8em;
	margin-left:-4em;
	padding:10px;
	background: rgba(255,255,255,0.25);
	border:1px solid #9A7952;
	color:#9A7952;
	font-family:'work sans', sans-serif;
	font-size:2em;
	font-weight:700;
	border-radius:35px;
	cursor: pointer;
	}	
button:hover {
	background: rgba(255,255,255,0.75);
	}
#potato-lite {
	background: url('../assets/potatosmall.png') bottom center no-repeat;
	background-size: 60% auto;
	image-rendering: crisp-edges;
	}
#potato-pro {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background: url('../assets/potato3.png') bottom center no-repeat;
	background-size: 70% auto;
	image-rendering: crisp-edges;
	}
#potato-team {
	background: url('../assets/potato1.png') bottom center no-repeat;
	background-size: 110% auto;
	image-rendering: crisp-edges;
	}
#copyright {
	margin:1em;
	}
footer nav ul {
	padding: 1em 1em 1em 0;
	font-size:1.5em;
	}
footer nav li a {
	color:#777;
	}
footer nav li a:hover {
	border:1px solid #777;
	}
/**/
/*====Mobile-Flexible Navigation Styles====*/

.wrapper {
  	display: inherit;
	}
main {
  flex: 1;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .3s;
  overflow:hidden;
  z-index:10;
}

@media (max-width:850px) {
.wrapper {
  	display: flex;
	}
nav.top {
  	position: fixed;
  	right:0;
	top:20px;
  	width: 220px;
	z-index:0;
	}
nav ul {
	flex-direction:column;
	}
nav ul li {
	z-index:0;
	}
.hambaga {
	display:block;
	}
main.isOpen {
  	transform: translate3d(-220px,0,0);
	}
main section {
  	transform: translateX(0);
  	transition:.3s;
	}
main.isOpen section {
  	transform: translateX(220px);
	}

}









@media (max-width:720px) {
	.column h2 {
		font-size:1.8em;
	}
	.column li {
		font-size:1em;
	}
}

@media (max-width:920px) {
	.column h2 {
		font-size:2.5em;
	}
	.column li {
		font-size:1.5em;
	}
}


@media (max-width:975px) {
	.potatoline{
		height:60px;
		background-size: auto 60px;
	}
}

@media (min-width:1260px) {
	.column p {
		bottom: 24em;
		}
	button {
		bottom: 12em;
		}
}

@media (min-width:1570px) {
	.column p {
		bottom: 27em;
		}
	button {
		bottom: 14em;
		}
}

@media (min-width:1900px) {
	.column p {
		bottom: 30em;
		}
	button {
		bottom: 16em;
		}
}